{#
/**
 * The home page of the site
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Alexandre Bacco 
 */
#}
{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Home Page - {{ parent() }}
{% endblock %}

{% block occore_body %}
    
    <h1>Welcome to this home Job board</h1>
    
    {# Display flash message with naeme 'info' #}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}
    
    {# No duplication code - Include the list of job offers from menu #}
    {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}

{% endblock %}
