{#
/**
 * The add job offer view
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Alexandre Bacco 
 */
#}
<!DOCTYPE html>
<html>
    <head>
        <title>A form to add a job offer</title>
    </head>
    <body>
        <h1>Form to add a job offer</h1>
        <p>
            the form
        </p>
    </body>
</html>
