{#
/**
 * Form template
 * 
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Alexandre Bacco
 */
#}
{# it will be included in other views, they probably inherit the layout. #}
{# Form code comes later #}
<div class="well">
    <p><strong>Add or edit Form</strong></p>
</div>
