{#
/**
 * The advertisement view - Frontend
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Alexandre Bacco 
 */
#}
<!DOCTYPE html>
<html>
    <head>
        <title>Advertisemen number {{ id }}</title>
    </head>
    <body>
        <h1>Advertisement number {{ id }}</h1>
        <p>Advertisement content</p>
    </body>
</html>
