{#
/**
 * The job offers view - Frontend
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Alexandre Bacco 
 */
#}
<!DOCTYPE html>
<html>
    <head>
        <title>Job offer number {{ id }}</title>
    </head>
    <body>
        <h1>Job offer number {{ id }}</h1>
        <p>Job offer content</p>
    </body>
</html>
