{#
/**
 * The index view - Frontend
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Alexandre Bacco 
 */
#}
<!DOCTYPE html>
<html>
    <head>
        <title>An advertiser Website for IT</title>
    </head>
    <body>
        <h1>An advertiser Website for IT</h1>
        <p>
            All the advertisement
        </p>
    </body>
</html>
